@font-face {
  font-family: pfd;
  src: url('media/logo/PlayfairDisplay-VariableFont_wght.ttf')
}

@font-face {
  font-family: roz;
  src: url('./media/logo/RozhaOne-Regular.ttf')
}

.blx{
  min-height: 100%;
}

.bgk{
  min-height: 100%;
}

.pfd {
  font-family: pfd;
  color: white;
}

.roz {
  font-family: roz;
  color: white;
}

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


.container {
  max-width: 100%;
  /* height: 100dvh; */
  max-height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  background-color: rgba(128, 128, 128, 0.308);
  border-radius: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 5px;
}

.container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.404);
  border-radius: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 10px;
}



.background {
  background-image: url("./media/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100dvh;
  display: flex;
  width: 100%;
  flex-direction: column;
  position: absolute;
  z-index: -1;
}

.classes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh ;
  height: auto;
  max-width: 100dvw;
}

.hia-1 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 11vw;
  text-align: center;

  color: rgba(255, 255, 255, 0.97);
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;

}

.hia-2 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 8vw;
  text-align: center;
  color: #FFFFFF;
  padding-top: 0 !important;
  margin-top: 0 !important;


}

.blek {
min-height: max-content !important;
justify-content: center;
margin-top: 0;
margin-bottom: 120px;
}

.y{
  margin-top: 90px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 60px !important;
}

.backh{
  transition: 0.5s ease-out;
  position: absolute;
  right: 40px;
  bottom: -40px;
  width: 40px;
  cursor: pointer;
  padding: 10px;
  border-radius: 30px;
  border: 2px solid white;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.backh:hover {
  transform: scale(0.98);
  box-shadow: rgba(255, 255, 255, 0.25) 0px -12px 55px, rgba(255, 255, 255, 0.12) 0px 12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px -12px 13px, rgba(255, 255, 255, 0.09) 0px 12px 55px;
}

.pd {
  max-width: 75vw;
  margin-top: 50px;
  font-size: 1.5vw;
  line-height: 1.5;
  text-align: center;
}

.sw {
  font-size: 3vw;
  width: 75%;
}

.row-know {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.get-to-know {
  font-family: pfd;
  font-size: 90px;
  color: white;
  line-height: 1;
  letter-spacing: 3px;
  margin-bottom: 45px;
  margin-left: 0;
}

#gtk{
  letter-spacing: 5px !important;
}

#v {
  color: rgb(201, 154, 37);
  font-style: italic;
}

.paragraph {
  color: white;
  font-family: pfd;
  font-size: x-large;
  width: 40dvw;
  line-height: 1.6;
  letter-spacing: 1.2px;
  word-spacing: 2px;

}

.prof {
  width: 20dvw;
  height: auto;
}

.tablerow {
  flex-direction: row;
  display: flex;
  width: 80%;
  flex: auto auto auto;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 60px;
}

.tablerowg {
  flex-direction: row;
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 60px;
  height: max-content;

}

.tablerowg div{
margin-bottom: 30px;
}

.table {

  /* Frame 3 */

  box-sizing: border-box;

  background: rgba(0, 0, 0, 0.58);
  border: 5px solid #FFFFFF;
  display: flex;
  aspect-ratio: 3/4;
  flex-direction: column;
  height: 60vh;
  transition: 0.5s;
  cursor: pointer;
}

.table:hover {
  transform: scale(0.98);
  box-shadow: rgba(255, 255, 255, 0.25) 0px -12px 55px, rgba(255, 255, 255, 0.12) 0px 12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px -12px 13px, rgba(255, 255, 255, 0.09) 0px 12px 55px;
}



.tmb {
  width: 100%;
  object-fit: contain;
  height: fit-content;
  border-bottom: 5px solid #FFFFFF;
}

.tmbp {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1.4/1;
  padding-bottom: 30px;
  padding-top: 30px;
  height: auto;
  border-bottom: 5px solid #FFFFFF;
}

.table-title {
  font-size: 30px;
  margin-top: 30px;
  width: 95%;
  letter-spacing: 0.7px;
  align-self: center;
  margin-bottom: 30px;
  color: white;
  font-family: pfd;
}

.td {
  align-self: center;
  width: 95%;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-align: justify;
}

.sm {
  display: flex;
  flex-direction: row;
  height: 8vh;
  width: 18vh;
  min-height: 40px;
  min-width: 80px;
  align-items: center;
  justify-content: center;
  border: 5px solid #FFFFFF;
  margin-left: auto;
  cursor: pointer;

}

.smc {
  width: 72.5%;
  margin-top: 75px;
}

.sm:hover {
  transform: scale(0.98);
  box-shadow: rgba(255, 255, 255, 0.25) 0px -12px 55px, rgba(255, 255, 255, 0.12) 0px 12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px -12px 13px, rgba(255, 255, 255, 0.09) 0px 12px 55px;
}

.sm p {

  font-family: '--font-geist-sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3vw;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: #FFFFFF;
}

.imgg {
  height: 50%;
  width: auto;
}

.x {
  margin-bottom: auto;
  margin-top: 45px;
}

.gx p {
  font-family: pfd;
  font-size: 3vw;
  color: white;
  letter-spacing: 3px;
}

.gx .img {
  width: 90px;
  aspect-ratio: 1/1;
  height: auto;
  object-fit: contain;
}

.gx p:nth-child(1) {
  margin-top: auto;
  margin-bottom: 45px;
  padding-top: -10px;
}

.t:nth-child(2) {
  margin-bottom: 120px;
}

.imgrow {
  justify-content: space-between;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.medrow {
  flex-direction: row;
  display: flex;
  width: 100%;
  margin-top: 60px;
}

.media {
  height: 60px;
  aspect-ratio: 1/1;
  width: auto;
  object-fit: contain;
  padding: 10px;
  border: 3px solid #ffffff;
  margin-left: auto;
}

.getint {
  font-size: 40px;
  max-width: 20%;
  width: 22%;
  letter-spacing: 1px;
  text-align: right;
}

.media:hover {
  transform: scale(0.98);
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.25) 0px -12px 55px, rgba(255, 255, 255, 0.12) 0px 12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px -12px 13px, rgba(255, 255, 255, 0.09) 0px 12px 55px;
}

@media only screen and (max-width: 1280px) {
  .table-title {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .td {
    font-size: 14px;
  }

  .gx .img {
    height: 60px;
  }

  .paragraph {
    font-size: 18px;
    width: 50vw;
  }

  .get-to-know {
    font-size: 60px;
  }

  .getint {
    font-size: 25px;
    word-spacing: 2px;
  }

  .medrow {
    margin-top: 30px;
  }

  .media {
    height: 45px;
  }

  .t:nth-child(2) {
    margin-bottom: 100px;
  }

  .smc {
    margin-top: 60px;
    width: 75%;
  }
}

@media only screen and (max-width: 1000px) {
  .paragraph {
    font-size: 15px;
    width: 50vw;
  }

  .tablerow {
    width: 85%;
  }

  .smc {
    margin-top: 60px;
    width: 80%;
  }

  .sm {

    border: 4px solid #FFFFFF;
  }

  .sw {
    width: 80%;
  }

  .imgrow {
    width: 50%;
  }
}

@media only screen and (max-width: 880px) {
  .tablerow {
    flex-direction: row;
    display: flex;
    width: 100%;
    flex: auto auto auto;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
  }

  .smc {
    margin-top: 40px;
    width: 95%;
  }

  .sm p {
    font-size: 15px !important;
  }

  .sw {
    width: 95%;
    font-size: 35px;
  }

  .getint {
    max-width: 27.5%;
    width: 27.5%;
    text-align: right;
  }

  .imgrow {
    width: 60%;
  }

  .paragraph {
    width: 55dvw;
  }

  .prof {
    width: 25dvw;
    height: auto;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 770px) {
  .tablerow {
    flex-direction: column;
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 40px;
    min-height: 82dvw * 3;
  }

  .smc {
    margin-top: 40px;
    width: 85%;
  }

  .sm p {
    font-size: 15px !important;
  }

  .sw {
    width: 85%;
    font-size: 35px;
    margin-bottom: 15px;
  }

  .ble {
    min-height: max-content !important;
  }

  .table {
    display: flex;
    aspect-ratio: 3/3.3;
    flex-direction: column;
    transition: 0.5s;
    width: 80%;
    height: auto;
    cursor: pointer;
    margin-bottom: 30px;
  }

  #profile,
  #git {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .prof {
    width: 45vw;
    margin-bottom: 45px;
    margin-right: 0 !important;
  }

  #prc {
    min-height: max-content !important;
    height: max-content;
  }

  .paragraph {
    width: 93dvw;
    min-height: 100% !important;
    margin-left: auto;
    margin-right: auto;
  }

  .get-to-know {
    text-align: center;
    margin-bottom: 60px;
  }

  .getint {
    min-width: 80%;
    text-align: center;
    margin-top: 30px;
  }

  .medrow {
    margin-top: 60px;
  }

  .media {
    margin-right: auto;
  }

  .hia-1 {
    font-size: 15vw;

  }

  .hia-2 {
    font-size: 11vw;
    text-align: center;
  }

  .pd {
    font-size: 15px;
    min-width: 95dvw;
  }

  .imgrow {
    width: 87.5%;
  }
}

@media only screen and (max-width: 500px) {
  .table {
    aspect-ratio: 3/3.5 !important;
  }

  .td {
    margin-bottom: 15px;
  }

  .smc {
    margin-top: 30px;
    width: 85%;
  }

  .sm {
    display: flex;
    flex-direction: row;
    height: 45px;
    width: 105px;
    align-items: center;
    justify-content: center;
    border: 4px solid #FFFFFF;
    margin-left: auto;
    cursor: pointer;
  }

  .sw {
    width: 85%;
    font-size: 35px;
  }

  .gx p {
    font-size: xx-large;
  }

  .get-to-know {
    font-size: 50px;
  }
}

@media only screen and (max-height: 450px) {
  .classes {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }

  .medrow {
    padding-bottom: 60px;
  }

  #git {
    padding-top: 60px;
  }
}

.cp {
  font-size: large;
  color: white;
  font-family: pfd;
  margin: 0px;
  bottom: 0;
}